#pet_heading{
    margin-top: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(92, 0, 47);
    font-size: 35px;
    text-align: center;
}
.product
{
    width: 100%;
    padding-bottom: 25px;
}
.product h2, h2
{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(92, 0, 47);
    font-size: 35px;
    text-align: center;
    /* padding: 10px; */
}
.product .product_container
{
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
}
.product .product_container .item
{
    width: 33.33%;
    height: 5%;
    padding: 0%;
    margin: 5px;
}
.product .product_container .item:hover 
{
    box-shadow:0px 3px 65px 0px rgb(158, 141, 224);
}
.product .product_container .item .item_img
{
    width: 100%;
    height: 20%;
    overflow:hidden;
}
.product .product_container .item .item_img img
{
    width:100%;
    height: 20%;
}
.product .product_container .item .item_content
{
    text-align: center;
}
.product .product_container .item .item_content h3
{
    font-size: 25px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    line-height: 2px;
    padding: 10px;
}
.product .product_container .item .item_content p
{
    font-size: 15px;
    line-height: 15px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.product .product_container .item .item_content a
{
    text-decoration: none;
    font-size: 25px;
    padding: 5px 5px;
    font-weight: bold;
    color:rgb(129, 71, 100);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    /* border: 3px solid rgb(79, 77, 78); */
    transition: 0.5s;
}
.product .product_container .item .item_content a:hover
{
    background-color: rgb(74, 70, 72);
    color: white;
    border: none;
    transition:0.5s;
}

body {
    max-width: 100%;
    margin: 0 auto; /* Center aligns the body if its actual width is less than 100% */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    font-family: Arial, sans-serif;
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* .body{
    margin: 20;
    align-items: center;
    justify-content: center;
} */
#gallery {
    text-align: center;
     margin-left: 25px;
    margin-right: 50px; 
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    width: 97%;
    /* max-width: 1000px; */
} */
.pet {
    /* padding: 10px; */
    /* margin-left: 30px;
    margin-right: 30px; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    box-shadow: 0 2px 5px rgba(192, 9, 9, 0.1);
}
.pet:hover{
    box-shadow:0px 3px 65px 0px rgb(168, 181, 205);
}
.pet img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    aspect-ratio: 1/1.25;
}
.name {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    /* font-size: 25px; */
    color: rgb(105, 2, 2);
}
.age {
    text-align : left;
    margin-top: 1px;
    margin-bottom: 1px;
    /* margin-top: 5px; */
    font-size: 16px auto;
    color: #dbbdbd;
}
.message{
    text-align : left;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 16px;
    color: #c9c4ee;
}
.city{
    text-align : left;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 16px;
    color: #de5252;
}
img{
    height: 300px;
    width: 300px;
}
.city img{
    height: 15px;
    width: 15px;

}
.open-modal{
  background-color: #8c9fc9; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.open-modal:hover{
    background-color: #4265bc; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
     margin: 3% auto; /*15% from the top and centered */

    padding: 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    height: 80%;
    margin-top: 50px;
    padding-top: 5px;
    width: 70%;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Input styling */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 90%;
    padding: 12px 20px;
    /* margin: 2px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    /* margin: 2px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}
.modal-content #form{
    /* align-content: center; */
    /* display: grid; */
    margin-top: 35px;
    /* padding-top: 10px; */
    align-items: center;
    /* right: 0px; */
    width: 100%;
    height: 100%;

}
/* .left{
} */
.right{

    width: 30%;
}
#form p{
    margin-bottom: 1px;
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;
    text-align: center;
    background-color: rgb(254, 249, 249)

}
.payment{
    align-items: center;
    /* top: 0;
    right:0; */
    width: 250px;
    height: auto;
}
footer .pages
{
    text-align: center;
}
footer .pages h3
{
    color: rgb(255, 226, 243);
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    padding: 5px;
    font-weight: bold;
}
footer .pages a
{
    text-decoration: none;
    margin:10px;
    color: rgba(255, 226, 243, 0.808);
    font-size: 15px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
}
footer .pages a:hover
{
    color:white;
}
footer .doc
{
    text-align: center;
}
footer .doc h3
{
    color: rgb(255, 226, 243);
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    padding: 5px;
    font-weight: bold;
}
footer .doc a
{
    text-decoration: none;
    margin:10px;
    color: rgba(255, 226, 243, 0.808);
    font-size: 15px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
footer .doc a:hover
{
    color:white;
}
footer .social
{
    text-align: center;
}
footer .social h3
{
    color: rgb(255, 226, 243);
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    padding: 5px;
    font-weight: bold;
}
footer .contact
{
    text-align: center;
}
footer .contact h3
{
    color: rgb(255, 226, 243);
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    padding: 5px;
    font-weight: bold;
}
footer .social a
{
    font-size: 30px;
    text-decoration: none;;
    color:rgba(247, 193, 224, 0.904);
    margin:10px;
}
footer .social a:hover
{
    color:white;
}
footer .contact a
{
    font-size: 30px;
    text-decoration: none;;
    color:rgba(247, 193, 224, 0.904);
    margin:10px;
}
footer .contact a:hover
{
    color:white;
}
footer p
{
    color:rgba(247, 178, 217, 0.726);
}
footer
{
    background-color: black;
    padding:50px;
}