/* .alert {
    background-color: red;
    height: 5%;
    width: 100%;

} */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    display: flex;
    height: 88vh; /* Full viewport height */
}

.login-form {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width */
}

.image-section {
    width: 100%;
    background-image: url('b.jpg'); /* Replace with your image url */
    background-size: cover;
    background-position: center;
}

form {
    background: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 300px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4a54e1;
}
